https://www.w3resource.com/python-exercises/pandas/index-data-series.php

1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module. Go to the editor
Click me to see the sample solution

In [1]:
import pandas as pd
odarray = pd.array([1,2,3,4,5,6])
print(odarray)

odseries = pd.Series(range(10))
print(odseries)

<PandasArray>
[1, 2, 3, 4, 5, 6]
Length: 6, dtype: int32
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

2. Write a Python program to convert a Panda module Series to Python list and it's type. Go to the editor
Click me to see the sample solution

In [2]:
print(type(odseries))
plist = odseries.to_list()
print(type(plist))
print(plist)

<class 'pandas.core.series.Series'>
<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


3. Write a Python program to add, subtract, multiple and divide two Pandas Series. Go to the editor
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
Click me to see the sample solution

In [3]:
ps1 = pd.Series([2,4,6,8,10])
ps2 = pd.Series([1,3,5,7,9])

print(ps1+ps2)
print(ps1-ps2)
print(ps1*ps2)
print(ps1/ps2)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64


4. Write a Python program to get the largest integer smaller or equal to the division of the inputs. Go to the editor
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
Click me to see the sample solution

5. Write a Python program to convert a dictionary to a Pandas series. Go to the editor
Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64
Click me to see the sample solution

In [4]:
ss = pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})
print(ss)

a    100
b    200
c    300
d    400
e    800
dtype: int64


6. Write a Python program to convert a NumPy array to a Pandas series. Go to the editor
Sample Series:
NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0 10
1 20
2 30
3 40
4 50
dtype: int64
Click me to see the sample solution

In [5]:
import numpy as np
odnpa = np.array(range(10))
print (odnpa)
print (type(odnpa))

odpda = pd.array(odnpa)
print (odpda)
print (type(odpda))

odpds = pd.Series(odnpa)
print (odpds)
print (type(odpds))

[0 1 2 3 4 5 6 7 8 9]
<class 'numpy.ndarray'>
<PandasArray>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Length: 10, dtype: int32
<class 'pandas.core.arrays.numpy_.PandasArray'>
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32
<class 'pandas.core.series.Series'>

7. Write a Python program to change the data type of given a column or a Series. Go to the editor
Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64
Click me to see the sample solution

In [6]:
oda = pd.Series([100,200,'python', 330.12, 400])
print("Sample Series:")
print(oda)

odb = pd.to_numeric(oda, errors='coerce')
print(odb)

Sample Series:
0       100
1       200
2    python
3    330.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    330.12
4    400.00
dtype: float64

8. Write a Python Pandas program to convert the first column of a DataFrame as a Series. Go to the editor
Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
1st column as a Series:
0 1
1 2
2 3
3 4
4 7
5 11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>
Click me to see the sample solution

In [7]:
#list1 = [[1,4,7], [2,5,5], [3,6,8], [4,9,12], [7,5,1], [11,0,11]]
#df1 = pd.DataFrame(list1, columns=['col1', 'col2', 'col3'])

dict1 = {'col1':[1,2,3,4,7,11], 'col2':[4,5,6,9,5,0], 'col3':[7,5,8,12,1,11]}
df1 = pd.DataFrame(dict1) #, index=['i1', 'i2', 'i3', 'i4', 'i5', 'i6'])

print(df1)
print('1st column as a Series')

#s1 = df1.ix[:,0] # getting deprecated
#s1 = df1['col1']
#s1 = df1.loc[:, 'col1']
s1 = df1.iloc[:, 0]
print(s1)
print(type(s1))

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
1st column as a Series
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

9. Write a Pandas program to convert a given Series to an array. Go to the editor
Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']
Click me to see the sample solution

In [8]:
inplist = [100,200,'python', 330.12, 400]
ods = pd.Series(inplist)
print(ods)

print ('Series to an array')
s1 = ods.values
print(s1)
print(type(s1))

0       100
1       200
2    python
3    330.12
4       400
dtype: object
Series to an array
[100 200 'python' 330.12 400]
<class 'numpy.ndarray'>

10. Write a Pandas program to convert Series of lists to one Series. Go to the editor
Sample Output:
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]
dtype: object
One Series
0 Red
1 Green
2 White
3 Red
4 Black
5 Yellow
dtype: object
Click me to see the sample solution

In [9]:
s1 = pd.Series(['Red', 'Green', 'White'])
s2 = pd.Series(['Red', 'Black'])
s3 = pd.Series(['Yellow'])

s4 = s1.combine_first(s2)
#.combine_first(s3)
print(s4)

0      Red
1    Green
2    White
dtype: object

11. Write a Pandas program to sort a given Series. Go to the editor
Sample Output:
Original Data Series: 0 100
1 200
2 python
3 300.12
4 400
dtype: object
0 100
1 200
3 300.12
4 400
2 python
dtype: object
Click me to see the sample solution

In [18]:
inplist = [100,200,'python', 330.12, 400]
ods = pd.Series(inplist)
print(ods)

print ('Soreted series')
print(ods[not ods.str.isalpha()])

s1 = pd.Series(ods).sort_values()
print(s1)

0       100
1       200
2    python
3    330.12
4       400
dtype: object
Soreted series

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

12. Write a Pandas program to add some data to an existing Series. Go to the editor
Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Data Series after adding some data:
0 100
1 200
2 python
3 300.12
4 400
0 500
1 php
dtype: object
Click me to see the sample solution

In [ ]:
inplist = [100,200,'python', 330.12, 400]
ods = pd.Series(inplist)
print(ods)

ods = ods.append(pd.Series([500, 'php']))
print(ods)

13. Write a Pandas program to create a subset of a given series based on value and condition. Go to the editor
Sample Output:
Original Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
dtype: int64
Subset of the above Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
dtype: int64
Click me to see the sample solution

In [ ]:
s1 = pd.Series(range(11))
print(s1)

print(s1[s1[:]<6])
#print(s1[s1<6])

14. Write a Pandas program to change the order of index of a given series. Go to the editor
Sample Output:
Original Data Series:
A 1
B 2
C 3
D 4
E 5
dtype: int64
Data Series after changing the order of index:
B 2
A 1
C 3
D 4
E 5
dtype: int64
Click me to see the sample solution

In [ ]:
'''
for c in range(ord('A'), ord('Z')+1):
    print (chr(c), end=" ")
    
for one in range(97,110):
    print (chr(one))

print(ord('A'))
print([chr(x) for x in range(ord('A'), ord('E')+1)])

'''
s1 = pd.Series(range(1,6), index=[chr(x) for x in range(ord('A'), ord('E')+1)])
print(s1)

s2 = s1.reindex(index=[x for x in ['B', 'A', 'D', 'E', 'C']])
print(s2)

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series. Go to the editor
Sample Output:
Original Data Series:
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 5
10 3
dtype: int64
Mean of the said Data Series:
4.81818181818
Standard deviation of the said Data Series:
2.52262489555
Click me to see the sample solution

In [ ]:
s1 = pd.Series(data=[1,2,3,4,5,6,7,8,9,5,3])
print(s1)

print(s1.mean())
print(s1.std())